@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*----------------- Navbar ----------------------*/

.Navbar_BG {
  background-color: #1f212d;
  padding: 15px;
}
.Navbar_BG .Logo {
  font-size: 50px;
  color: #ff8f27;
}
.Navbar_BG .Full_Logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.Navbar_BG .Navbar_Flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Navbar_BG h2 {
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
}
.Navbar_BG button {
  padding: 10px;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  width: 150px;
  background-color: #ff8f27;
  transition: 0.5s ease-in-out;
  border: 0.5px solid #ff8f27;
}
.Navbar_BG button:hover {
  background-color: #1f212d;
  color: white;
  border: 0.5px solid #ff8f27;
  cursor: pointer;
}
.Navbar_BG .Links li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.Navbar_BG .Links {
  display: flex;
  gap: 22px;
  padding: 10px;
}
/*----------------- Navbar ----------------------*/

/*----------------- Banner ----------------------*/

.Banner-BG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  width: 100%;
  height: 990px;
  background-size: cover;
}
.Banner-BG .Banner-Text {
  max-width: 800px;
}
.Banner-BG .Banner-Text h2 {
  padding: 300px 0px 0px 150px;
  font-size: 70px;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.2;
}
.Banner-BG .Banner-Text p {
  font-size: 14px;
  padding: 0px 0px 0px 150px;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
}
.Banner-BG .Banner-Text button {
  padding: 10px;
  color: #000;
  margin: 150px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
  margin-top: 20px;
  background-color: #ff8f27;
  transition: 0.5s ease-in-out;
  border: 0.5px solid #ff8f27;
}
.Banner-BG .Banner-Text button:hover {
  background-color: transparent;
  color: #fff;
}
/*----------------- Banner ----------------------*/

/*----------------- About Us ----------------------*/

.About-us-Flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-evenly;
}
.About-us-Flex img {
  width: 100%;
}
.About-us-Flex .text-width {
  max-width: 600px;
}
.About-us-Flex .About-H-01 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.About-us-Flex .About-H-01 h4 {
  font-size: 25px;
  font-weight: 500;
}
.About-us-Flex .About-H-01 .icon-01 {
  font-size: 40px;
  color: #ff8f27;
}
.About-us-Flex .h-02 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
}
.About-us-Flex .p-01 {
  font-size: 15px;
  font-weight: 500;
}
.About-us-Flex .check-i-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.About-us-Flex .check-i-flex .check-i {
  font-size: 20px;
  color: #ff8f27;
}
.About-us-Flex .big-icon-flex {
  gap: 20px;
  display: flex;
  margin-top: 40px;
}
.About-us-Flex .big-icon-flex .big-icon {
  font-size: 45px;
  color: #ff8f27;
}
.About-us-Flex .big-icon-flex p {
  font-size: 15px;
  max-width: 450px;
}
.About-us-Flex .Contact-Buttons button {
  padding: 10px;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
  margin-top: 20px;
  background-color: #ff8f27;
  transition: 0.5s ease-in-out;
  border: 0.5px solid #ff8f27;
}
.About-us-Flex .Contact-Buttons button:hover {
  background-color: transparent;
  color: #000;
}
.About-us-Flex .Contact-Buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.About-us-Flex .Contact-Buttons .message-icon {
  font-size: 40px;
}
/*----------------- About Us ----------------------*/

/*-------------------- Our Projects ------------------------*/

.gallery {
  margin: 0;
  padding: 1rem;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.gallery img {
  width: 100%;
  display: block;
  aspect-ratio: 0.5 / 0.5;
  object-fit: cover;
  transition: transform 1000ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width: 100%;
  width: 70rem;
}

figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.5);
  transform-origin: center;
  opacity: 0;
  transform: scale(2);
  transition: opacity 300ms;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 600ms, transform 600ms;
}

a:is(:hover, :focus) figure::after {
  opacity: 1;
}

a:is(:hover, :focus) figcaption {
  opacity: 1;
  transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
  figcaption {
    transform: translate3d(0, 2rem, 0);
  }

  figure::after {
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    transition: transform 900ms;
  }

  a:is(:hover, :focus) figure::after {
    transform: scale(2.5);
  }

  a:is(:hover, :focus) figcaption {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 600ms 400ms, transform 600ms 400ms;
  }

  a:is(:hover, :focus) img {
    transform: scale(1.2);
  }
}
.Projects-Top-Text {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

.Projects-Top-Text .top-text-01 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.Projects-Top-Text .top-text-01 h3 {
  font-weight: 500;
}
.Projects-Top-Text h2 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
}
.Projects-Top-Text .top-text-01 .project-top-truck {
  color: #ff8f27;
  font-size: 40px;
}

/*-------------------- Our Projects ------------------------*/

/*-------------------- Our Services ------------------------*/

.Services-Top-Text {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.Services-Top-Text .top-text-01 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.Services-Top-Text .top-text-01 h3 {
  font-weight: 500;
}
.Services-Top-Text h2 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
}
.Services-Top-Text .top-text-01 .Services-top-truck {
  color: #ff8f27;
  font-size: 40px;
}

/*-------------------- Our Services ------------------------*/

/*------------------------ Our Partners -----------------*/

.Partners-Top-Text {
  text-align: left;
  max-width: 600px;
  margin: 100px 0 100px 0px;
}

.Partners-Top-Text .top-text-01 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Partners-Top-Text .top-text-01 h3 {
  font-weight: 500;
}
.Partners-Top-Text h2 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
}
.Partners-Top-Text .top-text-01 .Partners-top-truck {
  color: #ff8f27;
  font-size: 40px;
}
.Partner-Flex img {
  width: 126px;
  height: 78.2px;
}
.Partner-Flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Partner-Flex .Img-Flex {
  display: flex;
  max-width: 700px;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
}
.Partner-Flex .img-hover-border {
  padding: 10px;
  transition: 0.5s ease-in-out;
  border: 1px solid transparent;
}
.Partner-Flex .img-hover-border:hover {
  border: 1px solid #ff8f27;
  background-color: #faf9f9;
  cursor: pointer;
}

/*------------------------- Our Partners ---------------*/

/*------------------------ Our Industry -----------------*/

.Industry-Top-Text {
  text-align: left;
  max-width: 700px;
  margin: 100px 0 100px 0px;
}

.Industry-Top-Text .top-text-01 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Industry-Top-Text .top-text-01 h3 {
  font-weight: 500;
}
.Industry-Top-Text h2 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
}
.Industry-Top-Text .top-text-01 .Industry-top-truck {
  color: #ff8f27;
  font-size: 40px;
}
.Industry-Flex img {
  width: 100%;
}
.Industry-Flex {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://wp.valorwide.com/buildsphere/wp-content/uploads/2024/01/feaures-bg-1.jpg");
  align-items: center;
  margin: 50px 0 50px 0px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
}
.Industry-Flex .Img-Flex {
  display: flex;
  max-width: 1200px;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
}
.Industry-Flex .img-hover-border {
  padding: 10px;
  transition: 0.5s ease-in-out;
  border: 1px solid transparent;
  transform: translateY(15%);
}
.Industry-Flex .img-hover-border:hover {
  transform: translateY(15%) translateX(-20%);
  cursor: pointer;
}
.Industry-Flex .Industry-d-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}
.Industry-Flex .Industry-d-flex h3 {
  font-size: 25px;
  font-weight: 500;
}
.Industry-Flex .Industry-d-flex h3 span {
  font-size: 25px;
  font-weight: 600;
}
/*------------------------- Our Industry ---------------*/

/*------------------ Team ------------------*/

.Our-Team-Top-Text {
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Our-Team-Top-Text .top-text-01 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.Our-Team-Top-Text .top-text-01 h3 {
  font-weight: 500;
}
.Our-Team-Top-Text h2 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
}
.Our-Team-Top-Text .top-text-01 .Team-top-truck {
  color: #ff8f27;
  font-size: 40px;
}

.Second-Section {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: relative;
}

.team {
  width: 364px;
  height: 650px;
  object-fit: cover;
  display: block;
}

.content {
  background: linear-gradient(rgba(48, 48, 48, 0.77) 0%, #292929 100%);
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
  height: 60%;
  color: white;
  transition: all ease-in 0.3s;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.content:hover {
  opacity: 1;
  cursor: pointer;
}
.content h3 {
  font-size: 35px;
  font-weight: 600;
}
.content p {
  font-weight: 400;
  font-size: 14px;
}

/*--------------------- Team ------------------*/

/*------------------- Footer ----------------------*/

.Footer-BG {
  background-color: #1f212d;
  width: 100%;
}
.Footer-BG .Logo {
  font-size: 50px;
  color: #ff8f27;
}
.Footer-BG .Full_Logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.Footer-BG .Footer-Flex {
  display: flex;
  padding: 80px 0 0 0;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Footer-BG h2 {
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
}
.Footer-BG img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.Footer-BG .Footer-Flex .Img-flex {
  display: flex;
  gap: 5px;
}
.Footer-BG .Footer-Flex .Img-And-Contact-Flex {
  display: flex;
  gap: 10px;
}
.Footer-BG .Footer-Flex .Img-And-Contact-Flex h4 {
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.Footer-BG .Footer-Flex .Img-And-Contact-Flex h3 {
  font-size: 25px;
  color: white;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
.Footer-BG .Footer-Flex .Img-And-Contact-Flex h3:hover {
  color: #ff8f27;
  cursor: pointer;
}

.Footer-BG .Footer-Second-FLex {
  display: flex;
  color: white;
  padding: 0 0 80px 0;
  justify-content: center;
  gap: 185px;
}
.Footer-BG .Footer-Second-FLex p {
  max-width: 380px;
  line-height: 1.6;
  cursor: pointer;
  margin: 10px 0 20px 0;
}
.Footer-BG .Footer-Second-FLex h3 {
  font-size: 20px;
  margin-top: 25px;
  font-weight: 500;
}
.Footer-BG .Footer-Second-FLex h4 {
  font-size: 15px;
  cursor: pointer;
  font-weight: 400;
}

.Footer-BG .Footer-Second-FLex .information-flex {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 15px;
}
.Footer-BG .Footer-Second-FLex .information-flex .information-icon {
  font-size: 20px;
  color: #ff8f27;
}
.Footer-BG .Footer-Second-FLex input {
  border: none;
  width: 300px;
  padding: 15px;
  color: white;
  outline: none;
  background-color: #27282f;
}
.Footer-BG .Footer-Second-FLex button {
  border: none;
  cursor: pointer;
  padding: 15px;
  background-color: #ff8f27;
}
.Footer-BG .Footer-Bottom {
  background-color: #27282f;
  padding: 15px;
  color: white;
  text-align: center;
  width: 60%;
  margin: auto;
}
.Footer-BG .Footer-Bottom h3 {
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 400;
}
/*------------------- Footer ----------------------*/

/*----------------- Core Features ----------------------*/

.Core-Features-Flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 40px;
  background-color: #1f212d;
  margin-top: 100px;
  justify-content: space-evenly;
}
.Core-Features-Flex img {
  width: 700px;
  height: 500px;
  border-radius: 10px;
}
.Core-Features-Flex .text-width {
  max-width: 600px;
}
.Core-Features-Flex .Core-Features-H-01 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Core-Features-Flex .Core-Features-H-01 h4 {
  font-size: 25px;
  font-weight: 500;
}
.Core-Features-Flex .Core-Features-H-01 .icon-01 {
  font-size: 40px;
  color: #ff8f27;
}
.Core-Features-Flex .h-02 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 20px;
}
.Core-Features-Flex .p-01 {
  font-size: 15px;
  margin-top: 15px;
  font-weight: 500;
}
.Core-Features-Flex .check-i-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.Core-Features-Flex .check-i-flex .check-i {
  font-size: 20px;
  color: #ff8f27;
}
.Core-Features-Flex .icon-flex {
  gap: 30px;
  display: flex;
}
.Core-Features-Flex .big-icon-flex {
  margin-top: 40px;
}
.Core-Features-Flex .big-icon-flex .big-icon {
  font-size: 45px;
  color: #ff8f27;
}
.Core-Features-Flex .big-icon-flex p {
  font-size: 15px;
  max-width: 450px;
}
/*----------------- Core Features ----------------------*/

/*------------------ Customer Reviews ---------------------*/

.Client-Top-Text {
  text-align: left;
  max-width: 700px;
  margin: 100px 0 100px 0px;
}

.Client-Top-Text .top-text-01 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Client-Top-Text .top-text-01 h3 {
  font-weight: 500;
}
.Client-Flex p {
  max-width: 580px;
}
.Client-Top-Text h2 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
}
.Client-Top-Text .top-text-01 .Client-top-truck {
  color: #ff8f27;
  font-size: 40px;
}
.Client-Flex img {
  width: 100%;
}
.Client-BG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://img.freepik.com/free-vector/realistic-white-monochrome-background_23-2149023988.jpg?w=1380&t=st=1708179209~exp=1708179809~hmac=caefa91151b384eb3b4cee1c676875b28c55ac71d77c9ac901255aa68f45e720");
  height: 600px;
}
.Client-Flex {
  display: flex;
  align-items: center;
  height: 250px;
  margin: 50px 0 50px 0px;
  color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
}
.review-main-flex {
  padding: 15px;
  cursor: pointer;
  max-width: 100%;
  background-color: rgb(248, 246, 246);
  box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.review-flex {
  display: flex;
}
.review-inner-flex {
  display: flex;
  gap: 10px;
  align-items: center;
}
.review-inner-up-flex {
  display: flex;
  gap: 190px;
  align-items: center;
}
.review-flex .review-inner-up-flex .symbol-icon {
  font-size: 80px;
  color: #e8e8ea;
}
.review-slider {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 1200px;
}
.review-slider-width {
  width: 1200px;
  margin: auto;
}

/*------------------ Customer Reviews ---------------------*/

/*--------------- Blogs ----------------*/

.Blogs-Top-Text {
  max-width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.Blogs-Top-Text .top-text-01 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.Blogs-Top-Text .top-text-01 h3 {
  font-weight: 500;
}
.Blogs-Top-Text h2 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
}
.Blogs-Top-Text .top-text-01 .blogs-top-truck {
  color: #ff8f27;
  font-size: 40px;
}
.Blogs-Top-Text p {
  margin-top: 10px;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.blog-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blog-heading span {
  color: #ff8f27;
}
.blog-heading h3 {
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20p 0px;
  flex-wrap: wrap;
}
.blog-box {
  width: 350px;
  background-color: #ffff;
  border: 1px solid #ececec;
}
.blog-img {
  width: 100%;
  height: auto;
}
.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-text span {
  color: #ff8f27;
  font-size: 0.9rem;
}
.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}
.blog-text .blog-title:hover {
  color: #ff8f27;
  transition: all ease 0.3s;
}
.blog-text button {
  border: 0;
  padding: 7px;
  margin-top: 10px;
  background-color: #ff8f27;
  color: #fff;
  font-size: 16px;
  border: 1px solid #ff8f27;
  transition: 0.5s ease-in-out;
}

.blog-text button:hover {
  background-color: transparent;
  color: #ff8f27;
  cursor: pointer;
}
.blog-text a {
  color: #0f0f0f;
  text-decoration: none;
}
.blog-text a:hover {
  color: #ff8f27;
  transition: all ease 0.3s;
}

/*--------------- Blogs ----------------*/

/*------------------ Contact Us --------------*/

.Contact-us-BG {
  background-color: #272727;
  color: white;
  display: flex;
  justify-content: space-between;
}
.Contact-us-Top-Text {
  text-align: left;
  max-width: 600px;
  margin: 100px 0px 30px 100px;
}

.Contact-us-Top-Text .top-text-01 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Contact-us-Top-Text .top-text-01 h3 {
  font-weight: 500;
}
.Contact-us-Top-Text h2 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
}
.Contact-us-Top-Text .top-text-01 .Contact-us-top-truck {
  color: #ff8f27;
  font-size: 40px;
}
.Contact-us-Top-Text input {
  padding: 15px;
  color: white;
  width: 280px;
  background-color: #27282f;
  color: white;
  margin: 10px 10px 0px 0px;
  border: none;
  outline: none;
}
.Contact-us-Top-Text textarea {
  padding: 15px;
  color: white;
  background-color: #27282f;
  color: white;
  margin: 10px 10px 0px 0px;
  outline: none;
  border: none;
}
.Contact-us-Top-Text button {
  padding: 13px;
  border: 1px solid #ff8f27;
  background-color: #ff8f27;
  color: black;
  transition: 0.5s ease-in-out;
  width: 250px;
}
.Contact-us-Top-Text button:hover {
  padding: 13px;
  border: 1px solid #ff8f27;
  background-color: transparent;
  color: white;
  cursor: pointer;
  width: 250px;
}

/*------------------ Contact Us --------------*/
